@font-face {
  font-family: "Museo Sans Cyrl";
  src: url('../fonts/MuseoSansCyrl.otf');
  font-weight: thin;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url('../fonts/MuseoSansCyrl_0.otf');
  font-weight: lite;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url('../fonts/MuseoSansCyrl_1.otf');
  font-weight: medium;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url('../fonts/MuseoSansCyrl_2.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url('../fonts/MuseoSansCyrl_3.otf');
  font-weight: black;
}